<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_proyecto</servlet-name>
        <servlet-class>controlador.servlet_proyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_nueva_tesis</servlet-name>
        <servlet-class>controlador.servlet_nueva_tesis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_principal</servlet-name>
        <servlet-class>controlador.servlet_principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_registrar</servlet-name>
        <servlet-class>controlador.servlet_registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_observaciones</servlet-name>
        <servlet-class>controlador.servlet_observaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_obs_act</servlet-name>
        <servlet-class>controlador.servlet_obs_act</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_tesis</servlet-name>
        <servlet-class>controlador.servlet_tesis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_proc_act</servlet-name>
        <servlet-class>controlador.servlet_proc_act</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_pdf</servlet-name>
        <servlet-class>controlador.servlet_pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_proceso2</servlet-name>
        <servlet-class>controlador.servlet_proceso2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_proceso3</servlet-name>
        <servlet-class>controlador.servlet_proceso3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_obs_act_p3</servlet-name>
        <servlet-class>controlador.servlet_obs_act_p3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_proc3_act</servlet-name>
        <servlet-class>controlador.servlet_proc3_act</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_pdf_2</servlet-name>
        <servlet-class>controlador.servlet_pdf_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_proceso4</servlet-name>
        <servlet-class>controlador.servlet_proceso4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_proyecto</servlet-name>
        <url-pattern>/servlet_proyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_nueva_tesis</servlet-name>
        <url-pattern>/servlet_nueva_tesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_principal</servlet-name>
        <url-pattern>/servlet_principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_registrar</servlet-name>
        <url-pattern>/servlet_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_observaciones</servlet-name>
        <url-pattern>/servlet_observaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_obs_act</servlet-name>
        <url-pattern>/servlet_obs_act</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_tesis</servlet-name>
        <url-pattern>/servlet_tesis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_proc_act</servlet-name>
        <url-pattern>/servlet_proc_act</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_pdf</servlet-name>
        <url-pattern>/servlet_pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_proceso2</servlet-name>
        <url-pattern>/servlet_proceso2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_proceso3</servlet-name>
        <url-pattern>/servlet_proceso3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_obs_act_p3</servlet-name>
        <url-pattern>/servlet_obs_act_p3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_proc3_act</servlet-name>
        <url-pattern>/servlet_proc3_act</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_pdf_2</servlet-name>
        <url-pattern>/servlet_pdf_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_proceso4</servlet-name>
        <url-pattern>/servlet_proceso4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
